@model Charcoal.Web.Models.ActivityViewModel

<div class="activity">
    <div id="date" align="left">@Model.PublicationDate</div>
    <div id="icon" align="right"> @Html.Raw(Model.GetIcon())</div>
    Description: <div id="description">@Model.Activity.Description</div><br/>
    Author: <div id="author">@Model.Activity.Author</div>
</div>