@model IEnumerable<PivotalTrackerDotNet.Domain.Project>

@{
    ViewBag.Title = "Index";
}

<h2>My Projects</h2>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            IterationLength
        </th>
        <th>Recent Activities</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IterationLength)
        </td>
        <td>
            @Html.ActionLink("Activities", "RecentActivities", new { projectId = item.Id }) 
        </td>
        <td>
            @Html.ActionLink("Current Iteration Tasks By Story", "CurrentIteration", "Stories", new { projectId = item.Id }, null)
        </td>
    </tr>
}

</table>
