@using Charcoal.Common.Entities
@using Charcoal.Web.Models
@model Charcoal.Web.Models.ProjectStoryViewModel
@{
    ViewBag.Title = "IceboxStories";
}
@section topAction
{
    <div class="top-actions">
    <a href="#" onclick="RefreshStories(); return false;">Refresh</a>
</div>
@Html.Partial("StoryNavigationControl", @Model.ProjectId)
}
<p>
    <h2 style="display:inline;margin-right:40px;">Icebox</h2>
    @Html.Partial("StoryFilter")
</p>
<table class="story-table">
    @foreach (var story in Model.Stories) {
        @Html.Partial("StoryRow", new StoryRowViewModel(story, IterationType.Icebox))
    }
</table>
