/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    /*background-color: #D8CEC0;     background: url(Bg_Texture___wood_by_nortago.jpg) repeat;     font-size: .85em;     font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;     margin: 0;     padding: 0;     color: #696969;*/
    padding-top: 60px;
}
/*
a:link
{
    color: #034af3;
    text-decoration: underline;
}

a:visited
{
    color: #505abc;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

header, footer, nav, section
{
    display: block;
}*/

/* HEADINGS   
----------------------------------------------------------*/
/*h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 10px 0;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
/*.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}
#sitename
{
    float: left;
    margin: 0;
    line-height: 40px;
    color: #D8CEC0;
    padding-left: 25px;
    width: 600px;
    font-size: 20px;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}
*//*
#main
{
    background-color: #fff; 
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0; 
    padding: 10px 30px 15px 30px;
}

footer, #footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
/*
#menu
{
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 50px 0;
    padding: 0;
    list-style-type: none;
    background-color: #eee;
    font-size: 13px;
    height: 40px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #ccc;
}
#menu li
{
    float: left;
    margin: 0;
}
#menu li a
{
    text-decoration: none;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #666;
}
#menu li a:hover, #menu li.active a
{
    background-color: #f5f5f5;
    border-bottom: 2px solid #DDD;
    color: #999;
}
#menu_wrapper ul
{
    margin-left: 12px;
}
#menu_wrapper
{
    padding: 0 16px 0 0;
    background: url(grey.png) no-repeat right;
}
#menu_wrapper div
{
    float: left;
    height: 44px;
    width: 12px;
    background: url(grey.png) no-repeat left;
}

#menu_wrapper.black ul
{
    border-top: 2px solid #333;
    border-bottom: 2px solid #000;
    background: #333;
}
#menu_wrapper.black a
{
    color: #CCC;
}
#menu_wrapper.black li a:hover, #menu_wrapper.black li.active a
{
    color: #999;
    background: #555;
    border-bottom: 2px solid #444;
}
#menu_wrapper.black
{
    background: url(blackmenu.png) no-repeat right;
}
#menu_wrapper.black div
{
    background: url(blackmenu.png) no-repeat left;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}
/*
ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}
*/
/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
/*
fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}


/* MISC  
----------------------------------------------------------*/
/*
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

nav, #menucontainer
{
    margin-top: 40px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}



/* Styles for editor and display helpers
----------------------------------------------------------*/
/*
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

/* TABLE
----------------------------------------------------------*/
/*
table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}


/* Custom */

table.story-table
{
    border-collapse: collapse;
    border: 0px;
}

tr.story-row
{
    vertical-align: top;
}

td.story-column
{
    width: 360px;
    border-bottom: 1px solid #999999;
    border-right: 2px solid #555555;
}

td.task-column
{
    width: 100%;
    border-bottom: 1px solid #999999;
}

div.task
{
    background-image: url('blank-index-card.png');
    color: #111111;
    padding: 3px 5px 5px 5px;
    margin: 9px 5px 5px 5px;
    width: 300px;
    height: 190px;
    clip: auto;
    overflow: auto;
    line-height: 15px;
    color: #555555;
    float: left;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    position: relative;
}

div.task h3
{
    text-align: center;
    color: #555555;
}

div.story-card
{
    background-image: url('blank-index-card.png');
    border: 5px solid #EFEFEF;
    margin: 5px;
    width: 300px;
    height: 190px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 10px;
    position: relative;
}

div.story-details
{
    padding: 3px 8px 5px 5px;
    height: 182px;
    width: auto;
    line-height: 15px;
    color: #555555;
    position: relative;
}

div.story-text
{
    clip: auto;
    overflow: auto;
}

div.card-back
{
    background-image: none;
    background-color: #FCFBED;
    height: 182px;
    width: auto;
    padding: 0px 0px 4px 0px;
}

div.card-back ul
{
    list-style-type: none;
    margin: 4px 2px 4px 4px;
}

div.card-back li
{
    background-color: rgba(165, 230, 250, 0.6);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;
    padding: 0px;
}

div.card-back li p 
{    
    padding: 0px 4px 2px 4px;
}

div.card-notes 
{
    clip: auto;
    overflow: auto;
    height: 156px;
}

div.note-header 
{
    margin: 4px 0px 2px 0px;
    background-color: rgba(50, 50, 50, 0.6);
    color: #DDDDDD;
    padding: 1px 4px 1px 4px;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}

div.card-buttons
{
    position: absolute;
    bottom: 7px;
    right: 4px;
}

div.story-details h3
{
    text-align: center;
    color: #555555;
}

div.started
{
    border: 5px solid rgba(230, 214, 0, 0.4);
}

div.finished, div.delivered
{
    border: 5px solid rgba(15, 103, 245, 0.4);
}

div.accepted
{
    border: 5px solid rgba(31, 135, 5, 0.4);
}

div.rejected
{
    border: 5px solid rgba(212, 25, 0, 0.4);
}

div.complete
{
    background-image: url('green-index-card.png');
    background-color: #9AD9A2;
}

div.in-progress
{
    background-image: url('yellow-index-card.png');
    background-color: #F2E37E;
}

div.ui-selected
{
    background-image: url('orange-index-card.png');
    background-color: #F39814;
    font-weight: bold;
    color: white;
}

div.ui-selected h3
{
    color: White;
}

div.top-right
{
    position: fixed;
    width: 150px;
    border: solid 1px #e1e1e1;
    vertical-align: middle;
    background: #333333;
    color: White;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    right: 10px;
}

div.top-right a
{
    color: White;
    text-decoration: none;
}

div.top-right a:hover
{
    color: Green;
    text-decoration: none;
}

div.sign-up
{
    top: 180px;
}

div.loading-spinner
{
    float: right;
    display: none;
}

div.refresh
{
    top: 250px;
}

div.estimate
{
    color: black;
    text-align: right;
    font-style: italic;
    position: absolute;
    right: 8px;
}

div.top-actions
{
    float: right;
    padding: 10px 10px 11px;
    line-height: 19px;
    text-decoration: none;
    position: fixed;
    width: 300px;
    vertical-align: middle;
    right: 10px;
}

div.top-actions a
{
    background-color: rgba(150,150,150,0.6);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 4px;
    padding: 2px 5px;
    margin-left: 10px;
    color: white;
    font-size: 12px;
    -moz-box-shadow: rgba(200,200,200,0.5) 0px 0px 2px;
    -webkit-box-shadow: rgba(200,200,200,0.5) 0px 0px 2px;
    box-shadow: rgba(200,200,200,0.5) 0px 0px 2px;
}

div.top-actions a:hover
{
    background-color: rgba(131,222,145,0.6);
    text-decoration: none;
}

div.card-actions
{
    position: absolute;
    bottom: 16px;
    right: 5px;
}

div.notes-pane
{
    background-image: none;
    display: none;
}

button.expand
{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: url('up-arrow.png') no-repeat;
}

button.collapse
{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: url('down-arrow.png') no-repeat;
}

a.link-button
{
    background-color: rgba(100,100,100,0.6);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 4px;
    padding: 2px 5px;
    color: white;
    font-size: 12px;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 0px 2px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 2px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 2px;
}

a.link-button.green
{
    background-color: rgba(45,179,47,0.6);
}

a.link-button.red
{
    background-color: rgba(189,57,40,0.6);
}

a.link-button:hover
{
    background-color: rgba(245,237,135,0.6);
    text-decoration: none;
    color: #666666;
    -moz-box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
    -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;
}

.activity
{
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #E7CDC1;
    font-style: italic;
}

.activity#author
{
    font-weight: bold;
}

.activity#description
{
    font-family: fantasy;
    font-style: italic;
}

.activity#icon
{
    float: right;
}

.activity#date
{
    float: left;
}

div.card-buttons .btn
{
    padding: 2px;
    font-size: 10px;
}

#projectdetail
{
    border: solid;
    border-width: 1px;
    -moz-box-shadow: 10px 10px 5px #888888;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 10px;
}

#projectdetail.padding
{
    padding-top: 10px;
}

#projectname
{
    font-size: 1.5em;
    color: #A87600;
}

#velocity
{
    font-size: 1.0em;
    font-weight: bold;
    color: #253765;
    margin-top: 4px;
}

#projectdetail:hover
{
    background: #F7F3F5;
}

table.projectTable td
{
    border: 0;
}

.error
{
    color: Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.facebox-cancel
{
}
