@model PivotalExtension.TaskManager.Models.ProjectViewModel
<div class="project">
    <div id="name">@Model.Name</div>
    <div id="velocity">@Model.Velocity</div>
    <div>@Model.StartDate</div>
    <div>@Model.LatestEvent</div>
</div>
