@model int
<div class="btn-group">

    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Current", "CurrentIteration", "Stories", new { projectId = @Model }, new { @class = " icon-chevron-right" })</li>
        <li>@Html.ActionLink("Backlog", "BackLogStories", "Stories", new { projectId = @Model }, new { @class = " icon-chevron-right" })</li>
        <li>@Html.ActionLink("Icebox", "IceboxStories", "Stories", new { projectId = @Model }, new { @class = " icon-chevron-right" })</li>
    </ul>
</div>

