<input type="checkbox" onclick="Toggle(this, 'tr.story-row.accepted');" id="hideCompletedStories" /><span style="margin-right:50px">Hide completed stories</span>
<input type="checkbox" onclick="Toggle(this, 'tr.story-row.bug');" id="hideBugs" /><span style="margin-right:50px">Hide bugs</span>
<input type="checkbox" onclick="Toggle(this, 'tr.story-row.feature');" id="hideStories" /><span style="margin-right:50px">Hide stories</span>