@model PivotalExtension.TaskManager.Models.StoryViewModel
           
<div class="@Model.GetStyle()">
    <div class="estimate">@Model.Story.Estimate points</div>
    <h3>Story</h3>
    <p>@Model.Story.Name</p>
</div>
    