<input type="checkbox" onclick="Toggle(this, 'tr.story-row.Accepted,tr.story-row.Delivered,tr.story-row.Finished');" id="showCompletedStories" checked="checked"/><span style="margin-right:50px">Show Completed stories</span>
<input type="checkbox" onclick="Toggle(this, 'tr.story-row.Bug');" id="showBugs" checked="checked"/><span style="margin-right:50px">Show Bugs</span>
<input type="checkbox" onclick="Toggle(this, 'tr.story-row.Chore');" id="showChores" checked="checked"/><span style="margin-right:50px">Show Chores</span>
<input type="checkbox" onclick="Toggle(this, 'tr.story-row.Feature');" id="showStories" checked="checked" /><span style="margin-right:50px">Show Stories</span>