<div class="top-actions">
                        <a href="#" onclick="SignUpForTask(); return false;">Sign Up For Selected</a> <a
                            href="#" onclick="RefreshStories(); return false;">Refresh</a>
                    </div>