@model IEnumerable<PivotalTrackerDotNet.Domain.Story>
@{
    ViewBag.Title = "Current Iteration";
}
<p>
    <h2 style="display:inline;margin-right:40px;">Current Iteration</h2>
    <input type="checkbox" onclick="Toggle(this, 'tr.story-row.accepted');" id="hideCompletedStories" /><span style="margin-right:50px">Hide completed stories</span>
    <input type="checkbox" onclick="Toggle(this, 'div.task.complete');" id="hideCompletedTasks" /><span style="margin-right:50px">Hide completed tasks</span>
    <input type="checkbox" onclick="Toggle(this, 'tr.story-row.bug');" id="hideBugs" /><span style="margin-right:50px">Hide bugs</span>
    <input type="checkbox" onclick="Toggle(this, 'tr.story-row.feature');" id="hideStories" /><span style="margin-right:50px">Hide stories</span>
</p>

<table class="story-table">
    @foreach (var story in Model) {
        @Html.Partial("StoryRow", new PivotalExtension.TaskManager.Models.StoryRowViewModel(story))
    }
</table>

<br />
<div class="top-right sign-up"><a href="#" onclick="SignUp(); return false;">SIGN UP FOR SELECTED</a></div>
<div class="top-right refresh"><a href="#" onclick="RefreshAll(); return false;">REFRESH</a></div>
<script type="text/javascript">
$(function () {
    $('.story-table').selectable({
        filter: 'div.task:not(.complete)'
    });
});

function SignUp() {
    initials = prompt('Enter your initials in AA/BB format (an empty string will clear existing assignment):', '');
    $('div.ui-selected').each(function() {
        if(initials != null) {
            var id = $(this).attr('id');
            var items = id.split('-');
            $.ajax({
                type: 'POST',
                url: '/Task/SignUp',
                data: 'projectId=' + items[0] + '&storyId=' + items[1] + '&id=' + items[2] + '&initials=' + initials,
                success : function(html) {
                            $('#' + id).replaceWith(html);
                         },
                error : function (xhr, ajaxOptions, thrownError){
                            alert(thrownError);
                        }   
            });
        }
    });
}

function RefreshAll() {
    $('tr.story-row').each(function() {
        var id = $(this).attr('id');
        var items = id.split('-');
        $.ajax({
            type: 'GET',
            url: '/Stories/Get',
            data: 'projectId=' + items[0] + '&storyId=' + items[1],
            success: function(html) {
                        $('#' + id).replaceWith(html);
                     },
            error: function(xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                   }
        });
    });
}

function Complete(id, completed) {
    var items = id.split('-');
    $.ajax({
        type: 'POST',
        url: '/Task/Complete',
        data: 'projectId=' + items[0] + '&storyId=' + items[1] + '&id=' + items[2] + '&completed=' + completed,
        success : function(html) {
                $('#' + id).replaceWith(html);
            },
        error : function (xhr, ajaxOptions, thrownError){
                alert(thrownError);
            }  
    });
}

function Toggle(elem, selector) {
    $(selector).each(function () {
        var showCompleted = !elem.checked //this should eventually be checked = show
        $(this).toggle(showCompleted);
    });
}
</script>
