@model IEnumerable<PivotalTrackerDotNet.Domain.Story>
@{
    ViewBag.Title = "Current Iteration";
}
<h2>
    Current Iteration</h2>
<table class="mainTable">
    @foreach (var item in Model) {
        <tr class="story">
            <td class="storyCol">@item.Name
            </td>
            <td>
                @foreach (var task in item.Tasks) {
                    @Html.Partial("TaskDetails", task)
                }
            </td>
        </tr>
    }
</table>
<br />
<a href="#" onclick="SignUp(); return false;">Sign Up for Selected</a>
<script type="text/javascript">
$(function () {
    $('.mainTable').selectable({
        filter: 'div.task',
    });
});

function SignUp() {
    initials = prompt('Enter your initials:', '');
    $('div.ui-selected').each(function() {
        if(initials != null && initials != '') {
            var id = $(this).attr('id');
            var items = id.split('-');
            alert(initials + ' will sign up for:\n\nproject: ' + items[0] + '\nstory: ' + items[1] + '\ntask: ' + items[2]);
            //this call will eventually be made against a SignUp action that performs sign up and then redirects to /Task/Details for replacement html
            $.ajax({
                type: 'GET',
                url: '/Task/Details',
                data: 'projectId=' + items[0] + '&storyId=' + items[1] + '&id=' + items[2],
                success : function(html) {
                            $('#' + id).replaceWith(html);
                         },
                error : function (xhr, ajaxOptions, thrownError){
                            alert(thrownError);
                        }   
            });
        }
    });
}
</script>
