@model IEnumerable<PivotalTrackerDotNet.Domain.Story>
@{
    ViewBag.Title = "Current Iteration";
}
<h2>Current Iteration</h2>
<p><input type="checkbox" onclick="ToggleCompletedTasks()" id="hideCompleted" /> Hide completed tasks</p>
<table class="mainTable">
    @foreach (var item in Model) {
        <tr class="story">
            <td class="storyCol">@item.Name
            </td>
            <td>
                @foreach (var task in item.Tasks) {
                    @Html.Partial("TaskDetails", task)
                }
            </td>
        </tr>
    }
</table>
<br />
<div class="top-right"><a href="#" onclick="SignUp(); return false;">SIGN UP FOR SELECTED</a></div>
<script type="text/javascript">
$(function () {
    $('.mainTable').selectable({
        filter: 'div.task:not(.complete)',
    });
});

function SignUp() {
    initials = prompt('Enter your initials in AA/BB format (an empty string will clear existing assignment):', '');
    $('div.ui-selected').each(function() {
        if(initials != null) {
            var id = $(this).attr('id');
            var items = id.split('-');
            $.ajax({
                type: 'POST',
                url: '/Task/SignUp',
                data: 'projectId=' + items[0] + '&storyId=' + items[1] + '&id=' + items[2] + '&initials=' + initials,
                success : function(html) {
                            $('#' + id).replaceWith(html);
                         },
                error : function (xhr, ajaxOptions, thrownError){
                            alert(thrownError);
                        }   
            });
        }
    });
}

function Complete(id, completed) {
    var items = id.split('-');
    $.ajax({
        type: 'POST',
        url: '/Task/Complete',
        data: 'projectId=' + items[0] + '&storyId=' + items[1] + '&id=' + items[2] + '&completed=' + completed,
        success : function(html) {
                $('#' + id).replaceWith(html);
            },
        error : function (xhr, ajaxOptions, thrownError){
                alert(thrownError);
            }  
    });
}

function ToggleCompletedTasks() {
    showCompleted = $('#hideCompleted').attr('checked') != 'checked';

    $('div.task.complete').each(function() {
        $(this).toggle(showCompleted);
    });
}
</script>
