@model IEnumerable<PivotalTrackerDotNet.Domain.Story>
@{
    ViewBag.Title = "Current Iteration";
}
<p>
    <h2 style="display:inline;margin-right:40px;">Current Iteration</h2>
    @Html.Partial("TaskFilter")
    @Html.Partial("StoryFilter")
</p>

<table class="story-table">
    @foreach (var story in Model) {
        @Html.Partial("StoryRow", new PivotalExtension.TaskManager.Models.StoryRowViewModel(story))
    }
</table>

<script type="text/javascript">
    $(function () {
        $('.task-column').selectable({
            filter: 'div.task:not(.complete)',
            selected: function (event, ui) {
                var deselector = 'td.task-column:not(#' + $(ui.selected).parent().attr('id') + ')';
                $(deselector).find('.ui-selected').removeClass('ui-selected');
            }
        });
    });
</script>
