@model IEnumerable<PivotalTrackerDotNet.Domain.Story>
@{
    ViewBag.Title = "IceboxStories";
}
@section topAction
{
    @Html.Partial("TopActionControl")
}
<p>
    <h2 style="display:inline;margin-right:40px;">Icebox</h2>
    @Html.Partial("StoryFilter")
</p>
<table class="story-table">
    @foreach (var story in Model) {
        @Html.Partial("StoryRow", new PivotalExtension.TaskManager.Models.StoryRowViewModel(story))
    }
</table>
