@using Charcoal.Web.Models
@model IEnumerable<Charcoal.Common.Entities.Project>

@{
    ViewBag.Title = "Projects";
}

<h2>My Projects</h2>

@foreach (var item in Model) {
    @Html.Partial("ProjectControl", new ProjectViewModel(item));
}
