@using Charcoal.Web.Models
@model IEnumerable<PivotalTrackerDotNet.Domain.Activity>
@{
    ViewBag.Title = "Recent Activities";
}
@foreach (var activity in Model) {
    @Html.Partial("ActivityDetails", new ActivityViewModel(activity))
}

<p>
    @Html.ActionLink("Back to Project List", "Index")
</p>